body {
	font-family: "Poppins", sans-serif;
	background-color: #f0f0f0;
}

main {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 20px 20px 150px 20px;
	margin: 10%;
}

input {
	padding: 10px;
	font-size: 20px;
	width: 55px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	margin: 0px;
}

input:focus {
	outline: none;
	border: 1px solid #854dff;
}

form {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	gap: 5%;
	padding: 10px;
}

.column p {
	font-weight: 300;
	color: #716f6f;
}

img {
	padding: 10px;
	border-radius: 50%;
	background-color: #854dff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.seperator {
	position: relative;
	margin-top: 40px;
	margin-bottom: 60px;
}

.line {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: black;
}

#results {
	font-weight: 800;
	font-style: italic;
	font-size: 250%;
	padding: 10px;
}

#results p {
	display: inline;
}

#dayResult,
#monthResult,
#yearResult {
	color: #854dff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

img:hover {
	background-color: #000000;
	cursor: pointer;
}
